---
import Layout from "../../layouts/Layout.astro";
import type { MovieDetails } from "../../movie";

const { id } = Astro.params;

const response = await fetch(
  `https://api.themoviedb.org/3/movie/${id}?api_key=${
    import.meta.env.TMDB_API_KEY
  }`
);
const data = (await response.json()) as MovieDetails;
---

<Layout title="Welcome to Astro.">
  <main class="text-white">
    <h1>{data.id}</h1>
    <h1>{data.title}</h1>
    <h1>{data.popularity}</h1>
    <h1>{data.revenue}</h1>
  </main>
</Layout>
